.introducao {
  padding: 120px 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0px 10px;
}

.introducao h1 {
  max-width: 16ch;
}
.introducao p {
  max-width: 40ch;
}

.botao-start {
  background: linear-gradient(to bottom, #faff00, #fff500);
  color: var(--a4);
  padding: 20px 60px;
  text-transform: uppercase;
  align-self: end;
  margin-top: 20px;
}

.text-intro{
  margin: 10px;
}


.intro-bg {
  padding: 120px 0px;
  background: linear-gradient(to right, var(--ac-11) 30%, var(--a1) 0%);
}

.intro {
  display: flex;
  gap: 36px;
  align-items: center;
}

.intro p {
  margin-top: 12px;
}

@media (max-width: 1120px) {
  .intro {
flex-direction: column;
  }
  .intro-bg{
    padding: 60px 0px;
    background: var(--a1);
  }

  .video{
    order: 2;
  }

  .video video{
    max-width: calc(100% - 20px);
  }
}


@media (max-width: 600px) {
  .introducao {
    padding: 60px 0px;
  }

  .introducao h1 {
    font-size: 2rem;
  }
  .introducao p {
   font-size: 1rem;
  }
  .botao-start {
    font-size: 1rem;
    margin-top: 10px;
    padding: 10px 30px;
  }

.intro{
  gap: 12px;
}

  .text-intro h1{
    font-size: 2rem;
  }
  .text-intro p{
    font-size: 1rem;
  }


}