.planos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 36px;
  margin-top: 60px;
}

.planos-bg {
  padding-bottom: 120px;
  background: linear-gradient(to bottom, var(--a1), var(--a6));
}

#planos h1 {
  margin: 0 10px;
}

.plan-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 28px;
  padding: 30px 40px 40px 30px;
  background: var(--ac-1);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.plan-card li {
  margin-bottom: 28px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.plan-card.pro {
  background: #0d0d09;
}
.plan-card.pro h1{
  color: #fffff2;
}
.plan-card.basic {
  background: #fffff2;
}
@media (max-width: 750px) {

  .plan-card img{
    width: 2rem;
  }

.plan-card h1{
  font-size: 1.5rem;
}

  .plan-card li {
    font-size: 1rem;
  }

  .planos-bg {
    padding-top: 60px;
  }
}
